@mixin flex($horisontal: space-between, $vertical: stretch, $direction: row) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  @if ($direction== "row") {
    justify-content: $horisontal;
    align-items: $vertical;
  } @else if($direction== "column") {
    justify-content: $vertical;
    align-items: $horisontal;
  }
}

@mixin logo($color, $hoverColor) {
  @include flex($horisontal: flex-start, $vertical: center);
  font-size: 3rem;
  color: $color;
  font-weight: 700;
  &:hover {
    color: $hoverColor;
  }
  img {
    margin-right: 20px;
    height: 3em;
    width: auto;
  }
}
