@mixin flex($horisontal: space-between, $vertical: stretch, $direction: row) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  @if ($direction== "row") {
    justify-content: $horisontal;
    align-items: $vertical;
  } @else if($direction== "column") {
    justify-content: $vertical;
    align-items: $horisontal;
  }
}
