@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
$fontFamily: "Poppins", sans-serif;
$fontSize: 62.5%;
$containerWidth: 80%;

/***** colors ****/
$primaryFontColor: #f3f3f3;
$secondaryFontColor: #111;
$lightGray: #edecec;
$hoverLinkColor: #fc7301;
$navLinkColor: #000080;

$transition: 0.4s ease;
