@import "variable";
@import "global";
@import "mixins";
@import "basic";

/***** navigation ****/
nav {
  background-color: $lightGray;
  padding: 20px 0;
  .container {
    @include flex($vertical: center);
  }
  .logo {
    @include logo($navLinkColor, $hoverLinkColor);
  }
  .navbar {
    ul {
      @include flex($vertical: center);
      gap: 50px;
      font-size: 2rem;
      color: $navLinkColor;
      a {
        &:after {
          content: "";
          width: 0;
          height: 3px;
          display: block;
          background-color: $navLinkColor;
          transition: width $transition;
        }
        &:hover {
          color: $hoverLinkColor;
          &:after {
            width: 100%;
            background-color: $hoverLinkColor;
          }
        }
      }
    }
    .active {
      &::after {
        width: 20px;
      }
    }
  }
}

/***** hero ****/

.hero {
  background: linear-gradient(
      60deg,
      rgba($navLinkColor, 0.6),
      rgba($hoverLinkColor, 0.6)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  min-height: 900px;
  @include flex($vertical: center, $horisontal: flex-start, $direction: column);
  p {
    font-size: 2rem;
    margin: 20px 0;
  }
}

/***** popular phone ****/

.popular {
  article {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-height: 600px;
    div:first-child {
      grid-row: 1/3;
    }
  }
  .img-holder {
    position: relative;
    flex: 1;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 0 5px 2px rgba($secondaryFontColor, 0.5);
    text-shadow: 0 0 5px $secondaryFontColor;
    border-radius: 10px;
    &:hover {
      img {
        transform: scale(110%);
      }
    }
    img {
      transition: transform $transition;
      filter: brightness(0.6);
    }
    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3vw;
    }
  }
}

/***** products ****/

.products {
  @include flex();
  gap: 30px;
  .card {
    flex: 1;
    color: $secondaryFontColor;
    text-align: center;
    &-header {
      padding: 15px 0;
      h3 {
        text-transform: uppercase;
        font-weight: 500;
      }
    }
    &-body {
      padding: 15px 0;
    }
    &-footer {
      padding: 15px 0;
    }
  }
}

/***** footer ****/

footer {
  background-color: $secondaryFontColor;
  .logo {
    @include logo($primaryFontColor, $hoverLinkColor);
  }
  article {
    @include flex($vertical: center);
    &:first-child {
      padding-bottom: 40px;
      margin-bottom: 40px;
      border-bottom: 2px solid rgba($lightGray, 0.2);
      ul {
        @include flex;
        gap: 30px;
        font-size: 2rem;
        font-weight: 500;
      }
    }
    &:last-child {
      align-items: flex-start;
      gap: 30px;
      div {
        flex: 1;
        line-height: 1.8;
        &:first-child {
          flex: 2;
        }
      }
      i {
        font-size: 3rem;
        margin-right: 10px;
      }
    }
  }
  h4 {
    margin-bottom: 30px;
  }
  a {
    &:hover {
      &:hover {
        color: $hoverLinkColor;
      }
    }
  }
  iframe {
    width: 100%;
    height: 200px;
  }
}
