@import "variable";
@import "global";
@import "basic";
@import "mixins";

/***** navigation ****/
nav {
  background-color: $lightGray;
  padding: 20px 0;
  .container {
    @include flex($vertical: center);
  }
  .logo {
    @include flex($vertical: center);
    font-size: 3rem;
    color: $logoColor;
    &:hover {
      color: rgba($logoColor, 0.5);
    }
    img {
      margin-right: 20px;
      height: 3em;
    }
  }
  .navbar {
    ul {
      @include flex($vertical: center);
      gap: 50px;
      font-size: 2rem;
      color: $navLinkColor;
      a {
        &::after {
          content: "";
          width: 20px;
          height: 3px;
          background-color: $navLinkColor;
          display: block;
          transition: width $transition;
        }
        &:hover:after {
          width: 100%;
        }
      }
    }
  }
}
